/* CSS Document for EHA Hospital*/ /* Created By Anshu Khadka */
	/* Copyright JK Technosoft */
@import url('tabcontent.css');

body,html {
	height: 100%;
}

body {
	font-family: Tahoma;
	font-size: 11px;
	color: #000000;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
}

:-moz-any-link :focus {
	outline: none;
}

#main {
	background: url(../images/layoutBg.gif) repeat-x top #FFFFFF;
	margin: 0px auto;
	height: auto;
	border-top: 1px dashed #00CCFF;
	height: 100%;
}

#mainIn {
	background: #FFFFFF;
	width: 982px;
	padding: 0px 10px 0px 10px;
	margin: 0px auto;
	margin-bottom: 0px;
	height: auto;
	border-top: 1px dashed #00CCFF;
	height: 100%;
}

span {
	color: #FF0000;
}

form {
	margin: 0px;
	padding: 0px;
}

.clear {
	clear: both;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	height: 1px;
}

.division {
	clear: both;
	border-bottom: 1px solid #999999;
	overflow: hidden;
	margin: 10px 0px 10px 0px;
}

.paddingTop40 {
	padding-top: 40px;
}

.paddingTop15 {
	padding-top: 15px;
}

.paddLeft30 {
	padding-left: 30px;
}

.paddLeft35 {
	padding-left: 35px;
	float: left;
}

.paddLeft55 {
	padding-left: 55px;
	width: 500px;
	margin: 0px auto;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

/***************************************headerTags Starts****************************************************/
h2 {
	color: #058CBC;
	background: url(../images/titleIcon.gif) no-repeat right;
	margin: 0px;
	padding: 0px 20px 0px 10px;
	float: left;
	font: bold 15px/ 30px Tahoma;
}

h3 {
	color: #000000;
	margin: 0px;
	padding: 0px 10px 10px 10px;
	font: bold 20px Tahoma;
}

h4 {
	color: #F27824;
	font: bold 12px/ 20px tahoma;
	margin: 0px;
	padding: 0px 0px 0px 10px;
	float: left;
}

h5 {
	background: url(../images/plusIcon.gif) no-repeat right;
	color: #000000;
	font: bold 12px/ 20px tahoma;
	margin: 0px;
	padding: 0px 30px 0px 10px;
	float: left;
	width: 190px;
	text-align: right;
}

.minus {
	background: url(../images/minusIcon.gif) no-repeat right;
}

/*************************************** headerTags Ends****************************************************/
	/******** Css for Page Header starts here****************/
.header {
	background: url(../images/headerBg.gif) right top #FFFFFF no-repeat;
	height: 103px;
	width: 100%;
	margin: 0px auto;
}

.header span {
	color: #000000;
}

.hdText {
	font: bold 12px/ 22px Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	float: left;
	width: auto;
	padding: 0px 0px 0px 190px;
}

.hdText a {
	color: #033EFC;
	text-decoration: none;
}

.hdText a:hover {
	color: #FFF;
	text-decoration: underline;
}

.hdText img {
	vertical-align: middle;
}

.hdTextFix {
	width: 200px;
	float: left;
}

/******** Css for Page Header ends here ****************/
	/******** Css for Page Footer starts here ****************/
#footer {
	background: url(../images/footerBg.gif) repeat-x;
	height: 30px;
	width: 100%;
	text-align: center;
	font: normal 11px/ 25px Tahoma, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	position: fixed;
	clear: both;
	bottom: 0px;
	margin: 0px auto;
	margin-bottom: 0px;
}

#footer a {
	font: bold 11px/ 25px Tahoma, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-decoration: underline;
}

/******** Css for Page Footer ends here ****************/
	/*-------------------------------------------------------------------------------------------------------------------------------*/
	/******** Form Fields Starts here****************/
	/******* common form fields*****/
label {
	font: bold 12px/ 20px Tahoma;
	color: #333333;
	width: 142px;
	float: left;
	text-align: right;
	padding-right: 15px;
	margin: 0px;
}

label.auto {
	font: bold 12px/ 20px Tahoma;
	color: #333333;
	width: auto;
	float: left;
	text-align: right;
	padding: 0px 15px 0px 15px;
	margin: 0px;
}

label a {
	color: #F27824;
	font: bold 12px/ 25px Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding-left: 10px;
}

label.large {
	font: bold 12px/ 20px Tahoma;
	color: #333333;
	width: 320px;
	float: left;
	text-align: left;
	padding-right: 15px;
	margin: 5px 5px 0px;
}

label.value {
	font: normal 12px/ 20px Tahoma;
	color: #0350BB;
	width: 153px;
	float: left;
	text-align: left;
	padding: 0px 5px 0px 3px;
	margin: 5px 0px;
}

input {
	border: 1px solid #A8A5A5;
	color: #333333;
	font: normal 11px Tahoma;
	width: 150px;
	height: 17px;
	float: left;
	margin: 5px 5px 0px;
}

* html input {
	border: 1px solid #A8A5A5;
	color: #333333;
	font: normal 11px Tahoma;
	width: 150px;
	height: 17px;
	float: left;
	margin: 5px 3px 0px;
}

input.button {
	border: none;
	background: url(../images/button.gif) no-repeat;
	color: #FFFFFF;
	font: bold 12px Arial, Helvetica, sans-serif;
	text-align: center;
	width: 94px;
	height: 24px;
	float: left;
	margin: 20px 10px 20px 10px;
	padding: 0px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

input.buttonBig {
	border: none;
	background: url(../images/buttonBig.gif) no-repeat;
	color: #FFFFFF;
	font: bold 12px Arial, Helvetica, sans-serif;
	text-align: center;
	width: 155px;
	height: 24px;
	float: left;
	letter-spacing: 1px;
	margin: 5px 10px 40px 10px;
	padding: 0px;
	text-transform: uppercase;
}

input.buttonBig2 {
	border: none;
	background: url(../images/buttonBig2.gif) no-repeat;
	color: #FFFFFF;
	font: bold 12px Arial, Helvetica, sans-serif;
	text-align: center;
	width: 234px;
	height: 24px;
	float: left;
	letter-spacing: 1px;
	margin: 5px 10px 40px 10px;
	padding: 0px;
	text-transform: uppercase;
}

input.buttonAuto {
	border: none;
	background: none;
	width: auto;
	height: auto;
	float: left;
	margin: 5px 10px 5px 10px;
	padding: 0px;
}

input.buttonAdd {
	border: none;
	background: url(../images/buttonAdd.gif) no-repeat;
	color: none;
	width: 66px;
	height: 24px;
	float: left;
	margin: 5px 10px 10px 10px;
	padding: 0px;
}

input.buttonDel {
	border: none;
	background: url(../images/buttonDel.gif) no-repeat;
	color: none;
	width: 99px;
	height: 24px;
	float: left;
	margin: 5px 10px 10px 10px;
	padding: 0px;
}

input.radioCheck {
	border: none;
	color: #333333;
	font: normal 11px Tahoma;
	width: auto;
	height: 20px;
	float: left;
	margin: 5px 10px 0px 10px;
	padding: 0px;
}

textarea {
	border: 1px solid #A8A5A5;
	color: #333333;
	font: normal 11px Tahoma;
	width: 150px;
	height: 50px;
	float: left;
	margin: 5px 5px 0px;
}

* html textarea {
	border: 1px solid #A8A5A5;
	color: #333333;
	font: normal 11px Tahoma;
	width: 150px;
	height: 50px;
	float: left;
	margin: 5px 3px 0px;
}

textarea.medium {
	border: 1px solid #A8A5A5;
	color: #333333;
	font: normal 11px Tahoma;
	width: 300px;
	height: 50px;
	float: left;
	margin: 5px 5px 0px;
}

* html textarea.medium {
	border: 1px solid #A8A5A5;
	color: #333333;
	font: normal 11px Tahoma;
	width: 300px;
	height: 50px;
	float: left;
	margin: 5px 3px 0px;
}

textarea.large {
	border: 1px solid #A8A5A5;
	color: #333333;
	font: normal 11px Tahoma;
	width: 550px;
	height: 50px;
	float: left;
	margin: 5px 5px 0px;
}

* html textarea.large {
	border: 1px solid #A8A5A5;
	color: #333333;
	font: normal 11px Tahoma;
	width: 550px;
	height: 50px;
	float: left;
	margin: 5px 3px 0px;
}

textarea.large2 {
	border: 1px solid #A8A5A5;
	color: #333333;
	font: normal 11px Tahoma;
	width: 550px;
	height: 150px;
	float: left;
	margin: 5px 5px 0px;
}

* html textarea.large2 {
	border: 1px solid #A8A5A5;
	color: #333333;
	font: normal 11px Tahoma;
	width: 550px;
	height: 150px;
	float: left;
	margin: 5px 3px 0px;
}

select {
	border: 1px solid #A8A5A5;
	color: #333333;
	font: normal 11px Tahoma;
	width: 152px;
	height: 20px;
	float: left;
	margin: 5px 5px 0px;
}

* html 	select {
	border: 1px solid #A8A5A5;
	color: #333333;
	font: normal 11px Tahoma;
	width: 152px;
	height: 20px;
	float: left;
	margin: 5px 3px 0px;
}

/******* common form fields*****/
.titleBg {
	background: url(../images/titlebg.gif) repeat-x;
	height: 27px;
	margin: 5px 0px 5px 0px;
}

.titleBg a {
	text-decoration: none;
}

.Block {
	border: 1px dashed #0350BB;
	padding: 10px 0px 10px 0px;
}

.Block a {
	color: #F27824;
	font: bold 11px/ 25px Arial, Helvetica, sans-serif;
	text-decoration: underline;
	padding-left: 10px;
}

.Block a:hover {
	color: #F27824;
	font: bold 11px/ 25px Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.Block img {
	vertical-align: middle;
	border: none;
	line-height: normal;
	padding: 5px 0px;
	margin-right: 14px;
	display: inline;
	float: left;
}

.Block .msg {
	color: #F27824;
	font: 11px tahoma;
}

.Block label {
	font: bold 12px/ 20px Tahoma;
	color: #333333;
	width: 144px;
	float: left;
	text-align: right;
	padding-right: 5px;
	margin: 5px 0px;
}

.Block label.medium {
	font: bold 12px/ 20px Tahoma;
	color: #333333;
	width: 74px;
	float: left;
	text-align: right;
	padding-right: 5px;
	margin: 5px 0px;
}

.Block label.large {
	font: bold 12px/ 20px Tahoma;
	color: #333333;
	width: 320px;
	float: left;
	text-align: right;
	padding-right: 5px;
	margin: 5px 0px;
}

.Block label.auto {
	font: bold 12px/ 20px Tahoma;
	color: #333333;
	width: auto;
	float: left;
	text-align: right;
	padding: 0px 15px 0px 15px;
	margin: 5px 0px;
}

.Block label.small {
	font: normal 11px/ 20px Tahoma;
	color: #333333;
	width: 50px;
	float: left;
	text-align: left;
	padding-right: 15px;
	margin: 5px 0px;
}

.Block label.smallAuto {
	font: normal 11px/ 20px Tahoma;
	color: #333333;
	width: auto;
	float: left;
	text-align: left;
	padding-right: 10px;
	margin: 5px 0px;
}

.Block label.value {
	font: normal 12px/ 20px Tahoma;
	color: #0350BB;
	width: 153px;
	float: left;
	text-align: left;
	padding: 0px 5px 0px 3px;
	margin: 5px 0px;
}

.Block label.valueAuto {
	font: normal 12px/ 20px Tahoma;
	color: #0350BB;
	width: auto;
	float: left;
	text-align: left;
	padding: 0px 5px 0px 3px;
	margin: 5px 0px;
}

.Block label.valueFixedWidth {
	font: normal 12px/ 20px Tahoma;
	color: #0350BB;
	width: 153px;
	height: auto;
	float: left;
	text-align: left;
	padding: 0px 5px 0px 3px;
	margin: 5px 0px;
}

.Block input {
	border: 1px solid #A8A5A5;
	color: #333333;
	font: normal 11px Tahoma;
	width: 150px;
	height: 17px;
	float: left;
	margin: 5px 5px 0px;
}

* html .Block input {
	border: 1px solid #A8A5A5;
	color: #333333;
	font: normal 11px Tahoma;
	width: 150px;
	height: 17px;
	float: left;
	margin: 5px 3px 0px;
}

.Block input.readOnly {
	border: none;
	color: #0350BB;
	font: normal 12px Tahoma;
	width: 150px;
	height: 20px;
	float: left;
	margin: 5px 5px 0px;
	padding-top: 3px;
}

* html .Block input.readOnly {
	margin: 5px 3px 0px;
}

.Block input.small {
	border: 1px solid #A8A5A5;
	color: #333333;
	font: normal 11px Tahoma;
	width: 50px;
	height: 17px;
	float: left;
	margin: 5px 5px 0px;
}

* html .Block input.small {
	border: 1px solid #A8A5A5;
	color: #333333;
	font: normal 11px Tahoma;
	width: 50px;
	height: 17px;
	float: left;
	margin: 5px 3px 0px;
}

.Block input.date {
	border: 1px solid #A8A5A5;
	color: #333333;
	font: normal 11px Tahoma;
	width: 120px;
	height: 17px;
	float: left;
	margin: 5px 5px 0px;
}

* html .Block input.date {
	border: 1px solid #A8A5A5;
	color: #333333;
	font: normal 11px Tahoma;
	width: 120px;
	height: 17px;
	float: left;
	margin: 5px 3px 0px;
}

.Block input.large {
	border: 1px solid #A8A5A5;
	color: #333333;
	font: normal 11px Tahoma;
	width: 440px;
	height: 17px;
	float: left;
	margin: 5px 5px 0px;
}

* html .Block input.large {
	border: 1px solid #A8A5A5;
	color: #333333;
	font: normal 11px Tahoma;
	width: 440px;
	height: 17px;
	float: left;
	margin: 5px 3px 0px;
}

.Block input.radioCheck {
	border: none;
	color: #333333;
	font: normal 11px Tahoma;
	height: 20px;
	width: auto;
	float: left;
	margin: 5px 10px 0px 10px;
	padding: 0px;
}

.Block input.browse {
	border: 1px solid #A8A5A5;
	color: #333333;
	font: normal 11px Tahoma;
	width: 150px;
	height: 23px;
	float: left;
	margin: 5px 5px 0px;
	margin-right: 35px;
}

* html .Block input.browse {
	border: 1px solid #A8A5A5;
	color: #333333;
	font: normal 11px Tahoma;
	width: 200px;
	height: 23px;
	float: left;
	margin: 5px 3px 0px;
}

.Block input.button {
	border: none;
	background: url(../images/button.gif) no-repeat;
	color: #FFFFFF;
	font: bold 12px Arial, Helvetica, sans-serif;
	text-align: center;
	width: 94px;
	height: 24px;
	float: left;
	margin: 5px 10px 0px 10px;
	padding: 0px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.Block input.buttonBig {
	border: none;
	background: url(../images/buttonBig.gif) no-repeat;
	color: #FFFFFF;
	font: bold 12px Arial, Helvetica, sans-serif;
	text-align: center;
	width: 155px;
	height: 24px;
	float: left;
	letter-spacing: 1px;
	margin: 5px 10px 0px 10px;
	padding: 0px;
	text-transform: uppercase;
}

.Block input.buttonBig2 {
	border: none;
	background: url(../images/buttonBig2.gif) no-repeat;
	color: #FFFFFF;
	font: bold 12px Arial, Helvetica, sans-serif;
	text-align: center;
	width: 234px;
	height: 24px;
	float: left;
	letter-spacing: 1px;
	margin: 5px 10px 40px 10px;
	padding: 0px;
	text-transform: uppercase;
}

.Block input.buttonBig3 {
	border: none;
	background: url(../images/buttonBig3.gif) no-repeat;
	color: #FFFFFF;
	font: bold 12px Arial, Helvetica, sans-serif;
	text-align: center;
	width: 264px;
	height: 24px;
	float: left;
	letter-spacing: 1px;
	margin: 5px 10px 40px 10px;
	padding: 0px;
	text-transform: uppercase;
}

.Block select {
	border: 1px solid #A8A5A5;
	color: #333333;
	font: normal 11px Tahoma;
	width: 152px;
	height: 20px;
	float: left;
	margin: 5px 5px 0px;
}

* html .Block select {
	border: 1px solid #A8A5A5;
	color: #333333;
	font: normal 11px Tahoma;
	width: 152px;
	height: 20px;
	float: left;
	margin: 5px 3px 0px;
}

.Block select.list {
	border: 1px solid #A8A5A5;
	color: #333333;
	font: normal 11px Tahoma;
	width: 152px;
	height: 50px;
	float: left;
	margin: 5px 5px 0px;
}

* html .Block select.list {
	border: 1px solid #A8A5A5;
	color: #333333;
	font: normal 11px Tahoma;
	width: 152px;
	height: 50px;
	float: left;
	margin: 5px 3px 0px;
}

.Block select.small {
	border: 1px solid #A8A5A5;
	color: #333333;
	font: normal 11px Tahoma;
	width: 90px;
	height: 20px;
	float: left;
	margin: 5px 5px 0px;
}

* html .Block select.small {
	border: 1px solid #A8A5A5;
	color: #333333;
	font: normal 11px Tahoma;
	width: 92px;
	height: 20px;
	float: left;
	margin: 5px 3px 0px;
}

.Block select.smallest {
	border: 1px solid #A8A5A5;
	color: #333333;
	font: normal 11px Tahoma;
	width: 50px;
	height: 20px;
	float: left;
	margin: 5px 5px 0px;
}

* html .Block select.smallest {
	width: 52px;
	margin: 5px 3px 0px;
}

.Block textarea {
	border: 1px solid #A8A5A5;
	color: #333333;
	font: normal 11px Tahoma;
	width: 150px;
	height: 50px;
	float: left;
	margin: 5px 5px 0px;
}

* html .Block textarea {
	border: 1px solid #A8A5A5;
	color: #333333;
	font: normal 11px Tahoma;
	width: 150px;
	height: 50px;
	float: left;
	margin: 5px 3px 0px;
}

.Block textarea.large {
	border: 1px solid #A8A5A5;
	color: #333333;
	font: normal 11px Tahoma;
	width: 440px;
	height: 50px;
	float: left;
	margin: 5px 5px 0px;
}

* html .Block textarea.large {
	border: 1px solid #A8A5A5;
	color: #333333;
	font: normal 11px Tahoma;
	width: 440px;
	height: 50px;
	float: left;
	margin: 5px 3px 0px;
}

.Block fieldset {
	border: 1px solid #0099BF;
	width: 948px;
	margin: 10px auto;
	height: auto;
	font: normal 11px/ 20px Verdana, Arial, Helvetica, sans-serif;
	padding: 0px 10px 5px 10px;
}

* html .Block fieldset {
	padding: 5px 10px 5px 10px;
}

.Block legend {
	color: #058CBC;
	text-transform: uppercase;
	padding: 0px 5px 0px 5px;
	font: bold 12px tahoma;
}

.Block  .division {
	clear: both;
	border-bottom: 1px dotted #BBBFC5;
	overflow: hidden;
	margin: 10px 20px 10px 20px;
}

/********Bottom Fields*************/
.bottom label {
	font: bold 11px/ 20px Arial, Helvetica, sans-serif;
	color: #0063ED;
	text-align: right;
	width: 140px;
	padding-right: 10px;
	text-transform: uppercase;
}

.bottom label.value {
	background: url(../images/bottomValBg.gif) repeat-x;
	font: bold 11px/ 20px Arial, Helvetica, sans-serif;
	color: #000000;
	text-align: center;
	width: 113px;
	height: 20px;
	border: 1PX solid #4A5D78;
	padding-right: 10px;
	text-transform: uppercase;
}

/********Bottom Fields Ends*************/
	/******** Form Fields Ends here****************/
	/****** Css for Table Starts ******/
table {
	width: 976px;
	border: 1px solid #C0C0C0;
	border-right: 1px solid #C0C0C0;
	text-align: center;
}

table.small {
	width: 780px;
	border: 1px solid #C0C0C0;
	border-right: 1px solid #C0C0C0;
	text-align: center;
}

.tableover {
	background-color: #FFD69C !important;
}

table img {
	width: auto;
	border: none;
	height: auto;
	padding: 0px 0px 0px 3px;
}

table .hide {
	display: none;
}

table tr.odd {
	background: #FFF;
	cursor: default;
	color: 000;
}

table tr.odd a {
	color: #000;
	text-decoration: none;
}

table tr.even {
	background: #E1E4E5;
	cursor: default;
	color: #000;
	height: auto;
}

table tr.even a {
	color: #000;
	text-decoration: none;
	display: block;
	height: auto;
}

table th {
	width: auto;
	height: 20px;
	font: bold 11px/ 18px Tahoma;
	color: #FFFFFF;
	background: #036D92;
	border-right: 1px solid #C0C0C0;
	text-align: center;
}

table th input.radioCheck {
	border: none;
	color: #333333;
	font: normal 11px Tahoma;
	width: auto;
	height: 20px;
	float: none;
	margin: 0px 10px 0px 10px;
	padding: 0px;
	vertical-align: middle;
}

table td {
	width: auto;
	height: auto;
	font: normal 11px Tahoma;
	color: #000;
	border-right: 1px solid #C0C0C0;
	Border-Bottom: 1px solid #C0C0C0;
	text-align: center;
	line-height: normal;
	padding: 3px 0px 3px 0px;
}

table td input {
	border: 1px solid #A8A5A5;
	color: #333333;
	font: normal 11px Tahoma;
	width: auto;
	height: auto;
	margin: 0px 5px 5px 0px;
	float: none;
}

table td input.readOnly {
	border: none;
	color: #0350BB;
	font: normal 11px Tahoma;
	width: auto;
	height: auto;
	margin: 0px 5px 5px 0px;
	float: none;
}

table td input.radioCheck {
	border: none;
	color: #333333;
	font: normal 11px Tahoma;
	width: auto;
	height: 20px;
	float: none;
	margin: 5px 10px 0px 10px;
	padding: 0px;
}

table td select {
	border: 1px solid #A8A5A5;
	color: #333333;
	font: normal 11px Tahoma;
	width: 120px;
	height: 20px;
	float: none;
	margin: 0px 10px 0px 10px;
	padding: 0px;
}

table td select.small {
	border: 1px solid #A8A5A5;
	color: #333333;
	font: normal 11px Tahoma;
	width: 50px;
	height: 20px;
	float: none;
	margin: 0px 10px 0px 10px;
	padding: 0px;
}

/****** Css for Table Ends ******/
	/**********************Css for Login************************************/
#login {
	float: right;
	margin-right: 32px;
	display: inline;
	background: url(../images/loginBg.jpg) no-repeat top;
	height: auto;
	width: 403px;
	padding: 40px 0px;
}

#login label {
	font: bold 12px/ 25px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-align: right;
	padding-right: 10px;
	width: 110px;
	margin-bottom: 6px;
}

#login input {
	width: 258px;
	height: 24px;
	font: normal 12px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	border: 1px solid #A4C7EB;
	float: left;
}

#login select {
	width: 260px;
	height: 24px;
	font: normal 12px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	border: 1px solid #A4C7EB;
	float: left;
}

#login input.button {
	width: 79px;
	height: 28px;
	border: none;
	float: right;
	margin-right: 10px;
}

.welcome {
	width: 526px;
	padding-right: 18px;
	float: right;
	font: bold 15px Arial, Helvetica, sans-serif;
	color: #000000;
	text-align: center;
	font-style: italic;
}

/**************************************************** Css For Menu *****************************/
div#menu {
	width: 100%;
	background: url(../images/menuBg.gif) repeat-x;
	margin-bottom: 2px;
	height: auto;
	float: left;
}

div#menu UL {
	font: bold 11px tahoma;
	PADDING: 0px;
	MARGIN: 0px;
	height: 20px;
	background: none;
}

div#menu LI {
	font: bold 11px tahoma;
	FLOAT: left;
	MARGIN: 0px;
	CURSOR: pointer;
	LINE-HEIGHT: 20px;
	LIST-STYLE-TYPE: none;
}

div#menu LI A:hover {
	color: #FEFFBB;
}

div#menu LI A {
	PADDING-RIGHT: 10px;
	DISPLAY: block;
	PADDING-LEFT: 5px;
	FONT-WEIGHT: bold;
	PADDING-BOTTOM: 0.25em;
	COLOR: #ffffff;
	padding-top: 3px;
	FONT-FAMILY: "Trebuchet MS", Tahoma, "Arial Narrow", Arial;
	TEXT-DECORATION: none;
}

UNKNOWN {
	WIDTH: auto;
}

div#menu UL UL {
	WIDTH: 140px;
	POSITION: absolute;
}

div#menu UL UL LI {
	PADDING: 0px;
	MARGIN: 0px;
	WIDTH: 100%;
	TEXT-ALIGN: left;
	COLOR: #000000;
	FONT-WEIGHT: lighter;
	background: #B9EDFD;
}

div#menu UL UL LI A {
	BORDER: #6ABAD3 1px solid;
	PADDING-LEFT: 10px;
	WIDTH: 160px;
	COLOR: #000000;
	FONT-WEIGHT: lighter;
	background: url(../images/menuSubBg.gif) repeat-x #B9EDFD;
}

div#menu UL UL LI A:hover {
	background: url(../images/menuSubBgHover.gif) repeat-x #B9EDFD;
	color: #000000;
}

div#menu UL.level2 {
	LEFT: -1px
}

div#menu UL UL UL {
	MARGIN-TOP: -25px;
	LEFT: 160px;
	overflow: auto;
	overflow-x: hidden;
	height: 200px;
	width: 177px;
}

/************************* CSS For Calender*********************************/
.calender table {
	width: 190px;
	margin: 0px auto;
}

.caltable td {
	font-family: "Trebuchet MS", Tahoma, "Arial Narrow", Arial;
	font-size: 10px;
	border: 1px solid #2C2C2C;
	WIDTH: AUTO;
}

.caltable td input {
	font-family: "Trebuchet MS", Tahoma, "Arial Narrow", Arial;
	font-size: 10px;
	WIDTH: AUTO;
}

.calender table td select {
	font-family: "Trebuchet MS", Tahoma, "Arial Narrow", Arial;
	font-size: 10px;
	WIDTH: 80px;
	margin: 0px;
}

.caltable td a {
	text-decoration: none;
	color: #4E4E4E;
}

.calheader {
	background-image: url(../images/tablehead.gif);
	height: 20px;
	text-align: center;
}

.calender table td input.buttoncell {
	width: 25px;
	height: 15px;
	color: #000;
	font: bold 11px/ 15px tahoma;
	background: #7EBDE9;
	border: none;
}

/*********** css for pagination*************/
#pageNavPosition {
	padding-bottom: 5px;
	float: right;
	margin-right: 15px;
	margin: 0px;
	display: inline;
}

#resultnavigation {
	padding-bottom: 0px;
	float: right;
	margin-right: 15px;
	display: inline;
	font: bold 13px/ 20px Arial, Helvetica, sans-serif;
	color: #0A91C1;
}

#resultnavigation span {
	color: #E55B04;
	font-size: 15px;
}

#resultnavigation input {
	border: 1px solid #EE6002;
	width: 30px;
	height: 18px;
	float: none;
	margin-left: 15px;
}

* html #resultnavigation input {
	border: 1px solid #EE6002;
	width: 30px;
	height: 17px;
	float: none;
	vertical-align: middle;
}

#resultnavigation input.button {
	border: none;
	width: 33px;
	height: 20px;
	background: url(../images/buttonGo.jpg) no-repeat;
	padding-top: -40px;
	vertical-align: top;
	margin-left: 0px;
}

#resultnavigation input.singlePrev {
	margin: 0px 0px 0px 10px;
	padding: 0px;
	background: url(../images/arrowPrev.gif) no-repeat;
	height: 15px;
	width: 31px;
	vertical-align: middle;
	border: none;
	cursor: pointer;
	color: #FFF;
	text-align: right;
}

#resultnavigation input.singlePrevDisable {
	margin: 0px 0px 0px 10px;
	padding: 0px;
	background: url(../images/arrowPrevDisable.jpg) no-repeat;
	height: 15px;
	width: 31px;
	vertical-align: middle;
	border: none;
	cursor: auto;
	color: #B8B6B7;
	font-size: 3px;
	text-align: left;
}

#resultnavigation input.singleNext {
	margin: 0px 0px 0px 18px;
	background: url(../images/arrowNext.gif) no-repeat right;
	height: 15px;
	width: 16px;
	padding: 0px;
	vertical-align: middle;
	border: none;
	cursor: pointer;
	color: #F08E29;
	text-align: center;
	font-size: 9px;
}

#resultnavigation input.singleNextDisable {
	margin: 0px 0px 0px 18px;
	background: url(../images/arrowNextDisable.jpg) no-repeat right;
	height: 15px;
	width: 16px;
	padding: 0px;
	vertical-align: middle;
	border: none;
	cursor: auto;
	color: #F08E29;
	font-size: 3px;
	text-align: right;
}

#resultnavigation input.previous {
	margin: 0px 0px 0px 40px;
	background: url(../images/previousArrowButton.jpg) no-repeat right;
	height: 15px;
	width: 31px;
	padding: 0px;
	vertical-align: middle;
	border: none;
	cursor: pointer;
	color: #F08E29;
	font-size: 3px;
	text-align: right;
}

#resultnavigation input.previousDisable {
	margin: 0px 0px 0px 40px;
	background: url(../images/previousArrowButtonDisable.jpg) no-repeat
		right;
	height: 15px;
	width: 31px;
	padding: 0px;
	vertical-align: middle;
	border: none;
	cursor: auto;
	color: #B8B6B7;
	font-size: 9px;
	text-align: center;
}

#resultnavigation input.next {
	margin: 0px 30px 0px 10px;
	background: url(../images/nextArrowButton.jpg) no-repeat right;
	height: 15px;
	width: 31px;
	padding: 0px;
	vertical-align: middle;
	border: none;
	cursor: pointer;
	color: #F08E29;
	font-size: 9px;
}

#resultnavigation input.nextDisable {
	margin: 0px 30px 0px 10px;
	background: url(../images/nextArrowButtonDisable.jpg) no-repeat right;
	height: 15px;
	width: 31px;
	padding: 0px;
	vertical-align: middle;
	border: none;
	cursor: auto;
	color: #B8B6B7;
	font-size: 9px;
	text-align: center;
}

.previous {
	background: url(../images/previousArrowButton.jpg) no-repeat center;
	height: 15px;
	width: 31px;
	padding: 0px 5px 0px 75px;
	vertical-align: middle;
	border: none;
	cursor: pointer;
}

.next {
	background: url(../images/nextArrowButton.jpg) no-repeat right;
	height: 15px;
	width: 31px;
	padding: 0px 38px 0px 10px;
	vertical-align: middle;
	border: none;
	cursor: pointer;
}

.pg-normal {
	margin-top: 5px;
	color: #000;
	font: normal 11px Arial, Helvetica, sans-serif;
	text-decoration: none;
	cursor: pointer;
}

.pg-selected {
	margin-top: 5px;
	font: bold 18px Arial, Helvetica, sans-serif;
	color: #E55B04;
	text-decoration: underline;
	cursor: pointer;
}

/********************   css for pop up starts***************/
.balloonstyle {
	position: absolute;
	width: 530px;
	height: 242px;
	top: -500px;
	left: 0;
	padding: 0px -5px 0px 10px;
	visibility: hidden;
	font: normal 12px Verdana;
	line-height: 18px;
	z-index: 100;
	background: url(../images/popBg.gif) no-repeat;
	/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
	filter: progid :     DXImageTransform.Microsoft.Shadow (     color =    
		gray, direction =     135, Strength =     5 );
}

.balloonstyle label {
	font: bold 11px/ 18px tahoma;
	color: #000000;
	text-align: right;
	width: 120px;
}

.balloonstyle label.value {
	font: normal 11px/ 18px tahoma;
	color: #0350BB;
	text-align: left;
	width: 120px;
}

#arrowhead {
	z-index: 99;
	position: absolute;
	top: -500px;
	left: 0;
	visibility: hidden;
	height: 12px;
}

/**************** css for pop up ends************************************/
	/**************** css for search starts****************/
.search {
	width: 122px;
}

.search a {
	background: url(../images/search.jpg) no-repeat;
	height: 39px;
	width: 121px;
	display: block;
}

.search a:hover {
	background: url(../images/searchHover.jpg) no-repeat;
	height: 39px;
	width: 121px;
	display: block;
}

.searchBlock {
	background: url(../images/searchBlock.gif) no-repeat;
	width: 529px;
	height: 178px;
	padding: 10px 0px 0px 10px;
}

.searchBlock .clear {
	clear: both;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	height: 5px;
}

.searchBlock label {
	color: #02319C;
	width: 110px;
	line-height: normal;
	font-size: 11px;
	font-weight: normal;
	padding-right: 5px;
}

.searchBlock input {
	background: #FFFFFF;
	color: #333333;
	width: 120px;
	border: 1px solid #C5C4C4;
	height: 18px;
	margin: 0px;
	margin-right: 10px;
}

.searchBlock select {
	background: #FFFFFF;
	color: #333333;
	width: 124px;
	border: 1px solid #C5C4C4;
	height: 18px;
	margin: 0px;
	margin-right: 10px;
}

.searchBlock input.button {
	background: none;
	width: auto;
	border: none;
	height: auto;
	float: right;
	margin-right: 40px;
	display: inline;
}

/**************** css for search ends****************/
	/*****************css for left menu starts*********/
.leftMenu {
	background: url(../images/leftMenuBg.gif) no-repeat;
	float: left;
	width: 194px;
	height: auto;
	font: bold 14px/ 25px Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-align: center;
	padding: 3px 0px;
}

.leftMenu input.appointment {
	background: url(../images/buttonIcons/appointment.jpg) no-repeat;
	height: 34px;
	width: 188px;
	float: none;
	padding: 0px 0px 0px 35px;
	margin: 0px 0px 2px 0px;
	text-align: left;
	font: bold 12px/ 35px Arial, Helvetica, sans-serif;
	color: #333333;
	border: none;
	cursor: pointer;
}

.leftMenu input.investigationApp {
	background: url(../images/buttonIcons/investigationApp.jpg) no-repeat;
	height: 34px;
	width: 188px;
	float: none;
	padding: 0px 0px 0px 35px;
	margin: 0px 0px 2px 0px;
	text-align: left;
	font: bold 12px/ 35px Arial, Helvetica, sans-serif;
	color: #333333;
	border: none;
	cursor: pointer;
}

.leftMenu input.drugs {
	background: url(../images/buttonIcons/drugs.jpg) no-repeat;
	height: 34px;
	width: 188px;
	float: none;
	padding: 0px 0px 0px 35px;
	margin: 0px 0px 2px 0px;
	text-align: left;
	font: bold 12px/ 35px Arial, Helvetica, sans-serif;
	color: #333333;
	border: none;
	cursor: pointer;
}

.leftMenu input.patientAdmit {
	background: url(../images/buttonIcons/patientAdmit.jpg) no-repeat;
	height: 34px;
	width: 188px;
	float: none;
	padding: 0px 0px 0px 35px;
	margin: 0px 0px 2px 0px;
	text-align: left;
	font: bold 12px/ 35px Arial, Helvetica, sans-serif;
	color: #333333;
	border: none;
	cursor: pointer;
}

.leftMenu input.print {
	background: url(../images/buttonIcons/print.jpg) no-repeat;
	height: 34px;
	width: 188px;
	float: none;
	padding: 0px 0px 0px 35px;
	margin: 0px 0px 2px 0px;
	text-align: left;
	font: bold 12px/ 35px Arial, Helvetica, sans-serif;
	color: #333333;
	border: none;
	cursor: pointer;
}

/*****************css for left menu ends*********/
	/***************** Css for DashBoard Starts *********************/
.red {
	background: url(../images/dashboard/red.gif) no-repeat;
	height: 188px;
	width: 301px;
	margin: 0px 10px 10px 10px;
	display: inline;
	float: left;
}

.blue {
	background: url(../images/dashboard/blue.gif) no-repeat;
	height: 188px;
	width: 301px;
	margin: 0px 10px 10px 10px;
	display: inline;
	float: left;
}

.yellow {
	background: url(../images/dashboard/yellow.gif) no-repeat;
	height: 188px;
	width: 301px;
	margin: 0px 10px 10px 10px;
	display: inline;
	float: left;
}

.greenLight {
	background: url(../images/dashboard/greenLight.gif) no-repeat;
	height: 188px;
	width: 301px;
	margin: 0px 10px 10px 10px;
	display: inline;
	float: left;
}

.pink {
	background: url(../images/dashboard/pink.gif) no-repeat;
	height: 188px;
	width: 301px;
	margin: 0px 10px 10px 10px;
	display: inline;
	float: left;
}

.violet {
	background: url(../images/dashboard/violet.gif) no-repeat;
	height: 188px;
	width: 301px;
	margin: 0px 10px 10px 10px;
	display: inline;
	float: left;
}

.saffron {
	background: url(../images/dashboard/saffron.gif) no-repeat;
	height: 188px;
	width: 301px;
	margin: 0px 10px 10px 10px;
	display: inline;
	float: left;
}

.green {
	background: url(../images/dashboard/green.gif) no-repeat;
	height: 188px;
	width: 301px;
	margin: 0px 10px 10px 10px;
	display: inline;
	float: left;
}

.blankBlock {
	background: none;
	height: 188px;
	width: 301px;
	margin: 0px 10px 10px 10px;
	display: inline;
	float: left;
}

.noticeBoard {
	background: url(../images/dashboard/noticeBoard.gif) no-repeat;
	height: 188px;
	width: 281px;
	margin: 0px 20px 10px 20px;
	display: inline;
	float: left;
}

.noticeTxt {
	width: 236px;
	height: 94px;
	font: normal 12px Verdana, Arial, Helvetica, sans-serif;
	margin: 0px auto;
	padding: 40px 10px 0px 10px;
	text-align: justify;
}

.boardTitle {
	width: 100%;
	margin: 0px auto;
	text-align: center;
	height: 25px;
}

.boardTitle img {
	padding-top: 5px;
}

.boardtable table {
	width: 293px;
	height: 145px;
	margin: 10px auto;
	border: none;
}

.boardtable table th {
	width: auto;
	height: 20px;
	font: bold 11px/ 20px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-align: left;
	padding: 0px 8px 0px 8px;
	background: #EDFBFF;
	border: none;
	border: 1px solid #8DEFFE;
}

.boardtable table th.noBorderLft {
	border-left: none;
}

.boardtable table th.noBorderRyt {
	border-right: none;
}

.boardtable table td {
	height: 18px;
	width: auto;
	font: normal 11px/ 18px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-align: left;
	padding: 0px 8px 0px 8px;
	background: #FFFFFF;
	border: none;
}

.boardtable table td a {
	color: #000000;
	text-decoration: underline;
}

.boardtable table td a:hover {
	color: #0091BB;
	text-decoration: underline;
}

/* temporary**/
.userMgmtButt {
	background: url(../images/user.jpg) no-repeat 0 100%;
	color: #FFF;
	float: left;
	border: none;
	text-decoration: none;
	width: 172px;
	height: 36px;
	cursor: pointer;
}
.opdArea {
	width: 733px;
	height: auto;
	border: 1px dashed #0350BB;
	background: #FFF;
	float: right;
	margin-top: 15px;
	padding-bottom: 10px;
}

* html .opdArea {
	width: 728px;
	height: auto;
	border: 1px solid #DFDFDF;
	background: #FFF;
	float: right;
	margin-top: 15px;
	padding-bottom: 10px;
}