  body {
    background-color:#12509A;
    color:white;
    font-family:Arial,Helvetica,sans-serif;
    font-size: small;
  }
  
  a {
    color: yellow;
  }
  
  .container {
    width: 700px;
    margin: auto;
  }
  
  h2 {
    text-align: center;
  }
  
  #camArea {
    /*width: 50%;
    float: left;*/
    text-align: center;
  }
  
  #canvasArea {
    /*width: 50%;
    float: right;*/
    text-align: center;
  }
  
  #canvasArea button {
    margin-top: 5px;
  }
  
  #canvas {
    border: 1px #ddd solid;
  }

  button {
    -moz-border-radius:5px;
    background-color:white;
    border: 1px silver solid;
    color:black;
    font-weight:bold;
    padding:3px 10px;
    margin-top: 10px;
  }